

/* Style guide*/

:root{
    --clr-purple: hsl(259, 100%, 65%);
    --clr-light-red: hsl(0, 100%, 67%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-off-white: hsl(0, 0%, 94%);
    --clr-light-grey: hsl(0, 0%, 86%);
    --clr-smoke-grey: hsl(0, 1%, 44%);
    --clr-off-black: hsl(0, 0%, 8%);

    --regular: 400;
    --bold:700;
    --extra-b:800;
    
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background: var(--clr-off-white);
    font-family: 'Poppins', sans-serif;
   
}

/*These are the titles*/
h3{
    font-size: 1.2rem;
    color: var(--clr-smoke-grey);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}



.form{
    border-radius: 24px 24px 100px 24px;
    background: dodgerblue;

    background: var(--clr-white);
    width: 90%;
    max-width: 840px;
    margin: 0 auto;
    
    padding: 4.8rem 2.4rem;
    overflow: hidden;
}

@media (min-width: 600px ){
    .form{
        padding: 5.6rem;
        margin-top: 0;
    }
}

.input-boxes{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-bottom: 4rem;
    
    
}

.input-boxes div:first-child{
    flex: 70%;
}


.input-boxes h3{
    margin-bottom: .4rem;
}

.input-boxes div{
    width: 100% !important;
}

.input-boxes .input-text{
font-size: 2rem;
font-weight: var(--bold);
padding: 1.2rem 0 1.2rem 1.2rem;
border-radius: 8px;
 border: 1px solid var(--clr-light-grey);
 width: 100%;
 outline: none;
 margin-bottom: .8rem;
}

.input-text:focus{
    border-color: var(--clr-purple);
}

.btn-box{
  width: 100%;
  height: 1px;
  background: var(--clr-light-grey);
  position: relative;
  margin: 6.4rem 0;

}

.btn{
    background: var(--clr-purple);
    border: none;
    border-radius: 100%;
    width: 6.4rem;
    height: 6.4rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
}

@media (min-width: 600px){
    .btn{
        right:0;
        top: 0;
        left: 100%;
        transform: translate(-100%, -50%);
    }

    .btn:hover,
    .btn:active{
        background: var(--clr-off-black);
    }
}

.btn img{
    height: 3rem;
    width: 100%;
    

}

.btn:hover{
    cursor: pointer;
}

.results{
    font-style: italic;
}

.results-text{
    font-size: 5.6rem;
}

@media (min-width: 800px ){
    .results-text{
        font-size: 10.4rem;
        line-height: 110%;
    }
}

.results-field{
    color: var(--clr-purple);
}


/*Validation classes*/

.validation{
    font-size: 1.4rem;
    font-style: italic;
    color: var(--clr-light-red);
}